@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "../assets/fonts/fonts.css";

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: "Bricolage Grotesque";
    font-weight: normal;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    line-height: normal;
    font-size: 16px;
}

.thick-shadow {
    box-shadow: 0 4px 0 0 var(--color-shadow);
}

@theme {
    --font-display: "Bricolage Grotesque";
    --font-serif: "Cormorant Garamond";

    --color-bg: #100721;
    --color-fg: #c6b9dc;
    --color-fg2: #4c376f;
    --color-shadow: #422670;

    --color-accent: #b4a3fd;
    --font-mono:
        ui-monospace, SFMono-Regular, Menlo, Monaco, "Cascadia Mono", "JetBrainsMono Nerd Font",
        "JetBrains Mono", Consolas, monospace;
}

/* Global scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: var(--color-fg2);
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
    border-color: var(--color-accent);
}

::-webkit-scrollbar-corner {
    background: var(--color-bg);
}
